body{
    background-image: url("/img/StevenLe.jpg");
}

h1{
    font-family: Aileron; color: blue;
}
#nav li{
    display: inline;
    background: #33ff33;
    text-decoration:none;
    margin-right: 30px;
}

a:hover { 
    background-color: yellow;
}